#moreCommitment {
    display: none;
}

#morehowdoesitworks {
    display: none;
}

#moreStoryRs {
    display: none;
}

#moreQ1 {
    display: none;
}

#moreQ2 {
    display: none;
}

#moreQ3 {
    display: none;
}

#moreQ4 {
    display: none;
}

#moreQ5 {
    display: none;
}

#moreQ6 {
    display: none;
}

#moreQ7 {
    display: none;
}

#moreQ8 {
    display: none;
}

#moreQ9 {
    display: none;
}